<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/products" class="navbar-brand">KERSTWEBSHOP</a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li routerLinkAvtive="active" *ngIf="!isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/auth">Login</a>
        </li> 
        <li routerLinkAvtive="active" *ngIf="isAuthenticated && roles.includes('ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/admin">Beheer</a>
        </li>
        <li routerLinkAvtive="active" *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="/user">Acount</a>
        </li>
        <li routerLinkAvtive="active" class="nav-item">
          <a class="nav-link" routerLink="/cart">Winkelwagen</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link logout" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
