<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="list-group">
        <a 
          class="list-group-item list-group-item-action" 
          *ngFor="let order of orders.reverse()"
          [routerLink]="[route, order.id]"
          routerLinkActive="active">
          <div>
            Ordernummer: {{order.id}} 
            <br>
            Besteldatum: {{order.date | date:'dd-MM-yyyy - HH:mm' }} uur
            <br>
            Aantal artikelen: {{ getAmountOfProducts(order.id) }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
