<div class="container">
  <div class="row">
    <div class="col">
      <h1>Winkelwagen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col cart-items">
      <div class="list-group list-group-flush">
        <div class="list-group-item" *ngFor="let item of cartItems">
          <div class="d-flex w-500 justify-content-between">
            <div class="d-flex w-25 justify-content-between align-items-center">
              <img 
                [src]="getProductById(item.productId).image" 
                alt="{{getProductById(item.productId).name}}" 
                class="product-image"/>
              <a class="productName" routerLink="/products/{{item.productId}}">{{ getProductById(item.productId).name }}</a>
            </div>
            <div class="d-flex w-50 justify-content-between align-items-center amount-price">
              <p>Aantal:</p>
              <form class="form-inline" (ngSubmit)="updateAmountInCart(f, item)" #f="ngForm">
                <input 
                  type="number" 
                  name="amount" 
                  oninput="validity.valid||(value='');"
                  id="amount"
                  class="form-control amount-input"
                  min="1"
                  [max]="getProductById(item.productId)!.amount ? getProductById(item.productId)!.amount : 0 + item.amount"
                  [ngModel]="item.amount">
                  <button type="submit" class="btn btn-link update-amount-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                  </button>
              </form>
              <p> &#8364; {{ getProductById(item.productId)!.price }}</p>
              <button type="button" class="btn btn-link" (click)="removeCartItem(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="list-group-flush">
        <div class="list-group-item">
          <div class="d-flex w-500 justify-content-between">
            <h5>Totaal:</h5>
            <h5>&#8364; {{ getTotalPrice()  | number:'1.2-2' }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col" *ngIf="cartItems.length">
      <button class="btn btn-danger" (click)="emptyCart()">Winkelwagen legen</button>
    </div>
    <div class="col align-self-end">
      <button class="btn btn-primary order-btn float-right" (click)="toOrder()">Naar bestellen</button>
    </div>
  </div>
</div>

<!-- overlay -->
<div class="overlay" *ngIf="showModal" (click)="closeModal()"></div>
<!-- modal -->
<div class="modal modal-dialog-scrollable" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aanmelden / inloggen</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="form-group">
            <label for="username">Gebruikernaam</label>
            <input 
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </div>
          <div *ngIf="!isLoginMode">
            <hr>
            <div class="form-group">
              <label for="firstname">Voornaam</label>
              <input 
                type="text"
                id="firstname"
                class="form-control"
                ngModel
                name="firstname"
                required
              />
            </div>
            <div class="form-group">
              <label for="lastname">Achternaam</label>
              <input 
                type="text"
                id="lastname"
                class="form-control"
                ngModel
                name="lastname"
                required
              />
            </div>
            <div class="form-group">
              <label for="emailAddress">Emailadres</label>
              <input 
                type="email"
                id="emailAddress"
                class="form-control"
                ngModel
                name="emailAddress"
                required
                email
              />
            </div>
            <div class="form-group">
              <label for="address">Adres</label>
              <input 
                type="text"
                id="address"
                class="form-control"
                ngModel
                name="address"
                required
              />
            </div>
            <div class="form-group">
              <label for="zipcode">Postcode</label>
              <input 
                type="text"
                id="zipcode"
                class="form-control"
                ngModel
                name="zipcode"
                required
                min="6"
                maxlength="7"
              />
            </div>
            <div class="form-group">
              <label for="city">Plaatsnaam</label>
              <input 
                type="text"
                id="city"
                class="form-control"
                ngModel
                name="city"
                required
              />
            </div>
            <div class="form-group">
              <label for="phoneNumber">Telefoon nummer</label>
              <input 
                type="text"
                id="phoneNumber"
                class="form-control"
                ngModel
                name="phoneNumber"
                required
                minlength="10"
                maxlength="13"
              />
            </div>
          </div>
            <div class="modal-footer">
              <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!authForm.valid"
            >
              {{ isLoginMode ? 'Inloggen' : 'Acount aanmaken' }}
            </button>
            |
            <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
              {{ isLoginMode ? 'Acount aanmaken' : 'Inloggen' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
