.productName{
  font-size: larger;
  color: black;
}
.amount-price p{
  padding-top: 19px;
}
.bi-x-square-fill{
  color: #E42800;
}
.amount-input{
  width: 75px;
}
.order-btn{
  margin-left: 18px;
}
.modal {
  display: block;
}
.overlay {
  position: fixed;
  display: block; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2; 
  cursor: pointer; 
}