.container {
  margin-top: 25px;
  padding: 15px;
  background-color: #ffffff;
  width: 100vw;
}
.productName{
  font-size: larger;
  color: black;
}
.product-image{
  margin-right: 10px;
  width: 50px;
}
.amount-price p{
  padding-top: 19px;
}
.bi-x-square-fill{
  color: #E42800;
}
.amount-input{
  width: 75px;
}
.order-btn{
  margin-left: 18px;
}
.modal {
  display: block;
}
.overlay {
  position: fixed;
  display: block; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2; 
  cursor: pointer; 
}

@media only screen and (max-width: 767px) {
  div.d-flex.w-50 {
    width: 70% !important;
  }
  .amount-price {
    justify-content: end !important;
    margin-left: 15% !important;
  }
}
@media only screen and (max-width: 508px) {
  .productName {
    font-size: medium;
  }
  div.d-flex.w-50 {
    width: 80% !important;
  }
  .amount-price {
    justify-content: end !important;
    margin-left: 15% !important;
    font-size: small;
  }
  .amount-input {
    width: 50px;
    font-size: small;
  }
  .product-image {
    width: 30px;
  }
}

@media only screen and (max-width: 438px) {
  .productName {
    font-size: small;
  }
  div.d-flex.w-50 {
    width: 90% !important;
  }
  .amount-price {
    justify-content: end !important;
    margin-left: 15% !important;
    font-size: smaller;
  }
  .amount-input {
    width: 45px;
    font-size: smaller;
  }
  .product-image {
    width: 20px;
  }
}


