
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.product-image-container {
  height: 150px;
}
.product-info {
  width: 180px;
}
.produtct-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}