<div class="card text-center">
  <div class="card-header">
    <h3 class="card-title">{{ product.name }}</h3>
  </div>
  <img 
    [src]="product.image" 
    alt="{{product.name}}" 
    class="card-img product-image"/>
  <div class="c">
    <p class="card-text product-description">{{ product.description }}</p>
    <p class="card-text product-price">&#8364; {{ product.price }}</p>
  </div>
  <div class="btn-open-product">
    <button class="btn btn-primary" [routerLink]="[index]">Bekijk product</button>
  </div>
</div>