<div class="container">
  <!-- alert -->
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    Het product is succesvol toegevoegd aan de winkelwagen! <a [routerLink]="['/cart']" class="alert-link">Open winkelwagen.</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- terug knop naar producten -->
  <div class="row">
    <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-1">
      <button 
        type="button" 
        class="btn btn-link" 
        routerLink="/products" 
        routerLinkActive="router-link-active"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
        Terug naar producten</button>
    </div>
  </div>
  <!-- product details -->
  <div class="row">
    <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-1 col-4 ">
      <h1>{{ product.name }}</h1>
      <img 
        [src]="product.image" 
        alt="{{product.name}}" 
        style="width: 300px;"
        class="product-image"/>
    </div>
    <div class="col-sm-5 col-md-4 col-4 product-details">
      <p class="produtct-description">{{ product.description }}</p>
      <p><b>Prijs:</b> &#8364; {{ product.price }}</p>
      <p>Aantal beschikbaar: {{ product.amount }}</p>
      <div class="amount-to-cart">
        <form (ngSubmit)="productToCard(f)" #f="ngForm" class="form-inline">
          <input 
            type="number" 
            name="amountToCart" 
            id="amountToCart" 
            class="form-control amount-input" 
            min="1"
            [max]="product.amount"
            ngModel
          />
          <button 
            type="submit" 
            class="btn btn-primary"
            >In winkelwagen</button>
        </form>
      </div>
    </div>
  </div>
</div>