<div class="container">
  <div class="row">
    <div class="col title">
      <h2>Acount</h2>
    </div>
  </div>
  <div class="row account-list-group-row">
    <div class="col">
      <div class="list-group account-list-group list-group-horizontal-sm">
        <a 
          class="list-group-item list-group-item-action"
          [ngClass]="{active : showUserInfo}"
          [routerLink]="['/user']"
          (click)="showUserInfo = true">
          Gegevens
        </a>
        <a
          class="list-group-item list-group-item-action"
          [ngClass]="{active : !showUserInfo}" 
          [routerLink]="['/user/orders']"
          (click)="showUserInfo = false">
          Orders
        </a>
      </div>      
    </div>
    <div class="col-9">
      <app-user-detail 
        *ngIf="showUserInfo && isDataAvailable" 
        [currentCustomer]="customer"
        (updateCustomerData)="updateCustomer($event)">
      </app-user-detail>

      <div class="row order-list-row" *ngIf="!showUserInfo && isDataAvailable">
        <div class="col-12 col-md-4">
          <app-order-list
          [orders]="orders"
          [orderDetails]="orderDetails"
          [customer]="customer"
          [route]="'/user/orders'"></app-order-list>
        </div>
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>